<div class="tasks">
  <div class="tasks__title">Daily Tasks:</div>
  <div class="tasks__list">
    <a href="#" class="tasks__item _gray">
      <div>Daily astromeditation</div>
      <div class="tasks__counter">
        <span>3</span>
        <span class="material-symbols-outlined"> language </span>
      </div>
    </a>
    <a href="#" class="tasks__item _pink">
      <div>Daily sleep astromeditation</div>
      <div class="tasks__counter">
        <span>1</span>
        <span class="material-symbols-outlined"> language </span>
      </div>
    </a>
    <a href="#" class="tasks__item _green">
      <div>Daily mantra</div>
      <div class="tasks__counter">
        <span>2</span>
        <span class="material-symbols-outlined"> language </span>
      </div>
    </a>
  </div>
</div>

<div class="progress">
    <div class="progress__title">
        <div>Your overall progress is <span class="value">60%</span></div>
    </div>
    <div class="progress__line">
        <div class="progress__bar"></div>
    </div>
</div>
